*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body, html {
    height: 100%; /* Asegurarse de que el body y html ocupen toda la altura de la pantalla */
}

body {
    display: flex; /* Usar flexbox en el body */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #d9d9d9;
}

main {
    position: relative;
    display: flex; 
    flex-direction: column; /* Alinear los elementos en columna */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: #333333;
    padding: 40px;
}
.nombre{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #cccccc;
    font-family: "IBM Plex Mono", monospace;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    gap: 10px;

}
.nombre img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.movimientos, .puntuacion {
    font-family: "IBM Plex Mono", monospace;
    padding: 10px;
    border-radius: 10px;
    align-self: center; /* Asegura que ambos estén alineados al centro verticalmente */
}

.movimientos {
    background-color: #dfea03;
}

.puntuacion {
    background-color: #01ff00;
}
.tiempo{
    font-family: "IBM Plex Mono", monospace;
    padding: 10px;
    border-radius: 10px;
    background-color: #01ffff;

}
.carta{
    border: 2px solid #cccccc;
    background-color: #f1eced;
}
#tablero {
    display: grid; /* Usar grid para el tablero */
    place-items: center; /* Centrar los elementos en el grid */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
    grid-template-rows: repeat(4, 1fr); /* 4 filas iguales */
    gap: 20px; /* Espacio entre las celdas */
    padding: 10px;
    background-color: #cccccc;
    width: 60vw;
}

.contenedor-datos {
    display: flex;
    flex-direction: row;
    align-items: center; /* Esto alinea todos los elementos hijos en el centro del eje cruzado */
    justify-content: center; /* Esto separa los elementos al inicio y al final del contenedor */ 
    gap: 20px;
    margin: 20px;
}
.carta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 5px;
}
.carta{
    margin: 20px;
    display: flex;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 1.5rem;
    font-family: "IBM Plex Mono", monospace;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s;
}
.carta img{
    width: 75px;
    height: 100px;
    transition: all 0.3s;
}
.carta img:hover{
    transform: scale(1.1);
}